

body{

	background:url(../imagem/20199.jpeg);
  background-repeat: no-repeat;
  background-size: 1400px 1097px;

}
a{
	text-decoration:none; 
}
ul{
	list-style: none;
}
img{max-width: 100%;}




/*  CABEÇALHO   */

.cabecalho{
	padding: 80px;
	
	background: url("../imagem/9.jpeg");
 	background-repeat: no-repeat;
	height: 20px;



}

.cabecalho:hover{

  padding-bottom: 18%;
  transition-duration: 1s;
  font-size: 30pt;
}



.titulo{
  margin: 0px;
  margin-left: 40px;
  padding: 10px;
  color: white;
  position: relative;
  top: -65px;
  font-family: 'Vidaloka', serif;

}


/*   menu NAV   */



nav a{
  display: block;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 13pt;
   top: 8px;
   color: white;
   position: relative;
}

 .menu .lista:hover{
  background: linear-gradient(green,#D8D8D8,green);   
  
}


ul li a:hover{
  
  color: black;
}

nav ul{
  list-style: none;
}

.menu .menu2 {
  margin-left: -40px;
  top: 12px;
  position: relative;
}

.menu .lista{
  float: left;
  width: 250px;
  height: 60px;
  background-color: black;
 
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  position: relative;
   top: 8px;
   margin-right: 2px;
   
}

 .menu .menu2 .lista{
  display: none;
  position: relative;
}

.menu .lista:hover .menu2 .lista{
  display: block;
  opacity: .8;
}
.menu .menu2 .lista:hover .menu3{
  display: block;
  position: absolute;
  width: 100px;
  left: 100px;
  top: -8px;
  margin-left: 110px;
 
}

.menu .menu2 .menu3  {
  display: none;
}



/* Formulario */
.body-form{
	
	padding: 0;
	
	margin: 0;
}

.box{
	position: relative;
	top: 50%;
	left: 25%;
	transform: translate(50px, -50px);
	width: 500px;
	background: rgb(0,0,0,.8);
	padding: 30px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}	


.box .h3-form{
	
	color: #03a9f4;
	margin: 0 0 30px;
	padding: 0;
	text-align: center;
	font-size: 17pt;
	font-family: 'Righteous', cursive;
}

.box .caixa-box{
	position: relative;
}

.box .caixa-box input{
	width: 100%;
	padding: 10px 0;
	font-size: 16pt;
	color: #fff;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
}

.box .caixa-box textarea{
	width: 100%;
	padding: 10px 0;
	font-size: 16pt;
	color: #fff;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
}

.box .caixa-box label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16pt;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.box .caixa-box input:focus ~ label, 
.box .caixa-box input:valid ~ label
{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12pt;
}

.box .caixa-box textarea:focus ~ label

{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12pt;
}


.botao{
  width: 70px;
  height: 40px;
  color: #fff;
  font-size: 13pt;
  line-height: 40px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #04B4AE, #0101DF, #F781D8, #04B4AE);
  background-size: 150%;
  border-radius: 10px;
}

.botao:hover{
  animation: animate 50s linear infinite;
}

@keyframes animate 
{

  0%{
    background-position: 0%;
  }

  100%{
    background-position: 150%;
  }
  
}

.botao:before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #04B4AE, #0101DF, #F781D8, #04B4AE);
  background-size: 150%;
  border-radius: 10px;
}





/* RODAPÉ */
footer {
  margin: 0px;
  background-color: black;
  
  position: relative;
  clear: both;
  color: white;
  text-align: center;
  height: 300px;
  
}

footer h1{
	position: relative;
	top: 10px;

}
.rodape{
  font-family: 'Merriweather', serif;
  font-size: 20pt;
  
  margin-left: 80px;
}

.icone{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  top: 80px;
}

.icone .rSocial{
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg); 
  background: #CCC;
}

.icone .rSocial span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px !important; 
}

.icone .rSocial:hover span{
  box-shadow: -1px,1px,1px rgba(0,0,0,.1);
}

.icone .rSocial:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}

.icone .rSocial:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}

.icone .rSocial:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}

.icone .rSocial:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .6;
}

.icone .rSocial:hover span:nth-child(1){
  transform: translate(0,0);
  opacity: .2;
}

.icone .rSocial:nth-child(1) span{
  background: #3b5998;
}
.icone .rSocial:nth-child(2) span{
  
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  
}


#contato .h3{
  color: white;

}
/* EFEITO TEXTO */
#contato span{
  z-index: 99;
}

#contato {
  position: absolute;
  margin-left: 550px;
 
  top: 200px;
}



@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}



.efeito-texto {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.efeito-texto:before,
.efeito-texto:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.efeito-texto:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.efeito-texto:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}


/* EFEITO TEXTO ENDEREÇO */


.localizacao{
  margin: 0;
  padding: 0;
  display: flex;

  float: right;
  transition: .5s;
  color: black;
  margin-right: 100px;
  
}

.localizacao .letr {
  background: #fff;
  width: 30px;
  height: 30px;
  display: inline;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  transition: .5s;
  align-items: center;

}


.localizacao:hover .letr:nth-child(odd){
  transform: skewY(-15deg);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

.localizacao:hover .letr:nth-child(even){
  transform: skewY(15deg);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);

}

.localizacao:hover{
  transform: rotateX(35deg);
}

.localizacao2{
  margin: 0;
  padding: 0;
  display: flex;
  margin-left:   500px;
  float: right;
  transition: .5s;
  color: black;
  position: absolute;
  margin-left: 750px;
  top: 150px;
 
  
}

.localizacao2 .letr2 {
  background: #fff;
  width: 32px;
  height: 32px;
  display: inline;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  transition: .5s;
  align-items: center;


}


.localizacao2:hover .letr2:nth-child(odd){
  transform: skewY(-15deg);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

.localizacao2:hover .letr2:nth-child(even){
  transform: skewY(15deg);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);

}

.localizacao2:hover{
  transform: rotateX(35deg);
}

.localizacao3{
  margin: 0;
  padding: 0;
  display: flex;
  margin-left:   500px;
  float: right;
  transition: .5s;
  color: black;
  position: absolute;
  margin-left: 820px;
  top: 200px;
 
  
}

.localizacao3 .letr3 {
  background: #fff;
  width: 32px;
  height: 32px;
  display: inline;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  transition: .5s;
  align-items: center;


}


.localizacao3:hover .letr3:nth-child(odd){
  transform: skewY(-15deg);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

.localizacao3:hover .letr3:nth-child(even){
  transform: skewY(15deg);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);

}

.localizacao3:hover{
  transform: rotateX(35deg);
}
